TOB_POSTGRES_HOST=101.133.170.55
TOB_POSTGRES_PORT=5432
TOB_POSTGRES_USER=tenant_admin
TOB_POSTGRES_PASSWORD=
TOB_POSTGRES_DATABASE=carebook_tenant

TOB_REDIS_PASSWORD=
TOB_JWT_SECRET=

TOB_OSS_SECRET_ID=
TOB_OSS_SECRET_KEY=
TOB_OSS_BUCKET=carebook
TOB_OSS_DOMAIN=https://carebook.cn-beijing.taihangpkx.cn

TOB_HARDWARE_APP_ID=
TOB_HARDWARE_APP_SECRET=
TOB_HARDWARE_CALLBACK_SECRET=

TOB_DASHSCOPE_API_KEY=
TOB_DIFY_BASE_URL=
TOB_DIFY_BADGE_DAILY_REPORT_KEY=
